* {
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    
}
:root {
    --couleur1:rgb(255, 254, 254);
    --couleur2: #419aee;
    --couleur3: #0d274e;
    --couleur4 :rgb(58, 57, 57);
     --couleur5 :black;
}
.body {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}




/* ******************** redim diff logo ******************** */

.logo {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    margin-left: 10px;
    margin-right: 0;
    padding-top: 5px; 
  
 }
#logo3 {
    max-width: 18vw;
    min-height: 5vh;
    border: 1px solid transparent;
    margin-left: 25px;
    margin-right: 0;
    padding-top: 2px; 
    opacity: 100%;

 }

 .logo4 {
     width: 300px; 
    min-height: 150px;
    border: 1px solid transparent;
    z-index: auto;
   margin-bottom: 20px;
   margin-top: 45px;
border: 1mm dashed red;}
a.reg{
  color:rgb(210, 15, 15);
  font-size: 10px;

}
.plume1{
  width: 40px;
  height: 40px;
opacity: 50%;

}
.moi{
  width: 280px;
  min-height: 210px;
  align-items: center;

}


/* ******************** 1ere section promo ******************** */
#sectionApromo{
min-height: 50vh;
width:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
}
#sectionApromo2{
  min-height: 30vh;
  width:auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
 
  }
.promo{
  min-height: 20vh;
  width:80vw;
}

.promoB{
  min-height: 10vh;
  width:40vw;
}@media screen and (max-width: 600px) {
  .promoB { min-height: 45vh;
  width:95vw;}
  }


.promo2{
  min-height: 10vh;
  width:20vw;}
  @media screen and (max-width: 600px) {
    .promo2 { min-height: 30vh;
    width:60vw;}
    }

.presta{
    min-height: 10vh;
    width:20vw;}
    @media screen and (max-width: 600px) {
      .presta { min-height: 30vh;
      width:60vw;}
      }
a:hover{
  background-color: rgb(15, 166, 226);

}
  
.prom{
  min-height: 15vh;
  width:30vw;}
  @media screen and (max-width: 600px) {
    .prom { min-height: 40vh;
    width:80vw;}
    }

      
.prom2{
  min-height: 10vh;
  width:20vw;}
  @media screen and (max-width: 600px) {
    .prom2 { min-height: 15vh;
    width:50vw;}
    }

  .prom3{
      min-height: 30vh;
      width:30vw;}
      @media screen and (max-width: 600px) {
        .prom3 { min-height: 15vh;
        width:50vw;}
        }
 
/* ******************** titre arc en ciel ******************** */

  


.rainbow {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(34, 49, 255)), color-stop(0.15, rgb(24, 115, 189)), color-stop(0.3, rgba(34, 34, 255, 0.623)), color-stop(0.45, rgb(29, 100, 100)), color-stop(0.6, rgb(36, 65, 77)),color-stop(0.75, rgb(6, 15, 100)), color-stop(0.9, rgb(21, 52, 80)), color-stop(1, rgb(77, 122, 121)) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
width:100%;
min-height:80%;
font-family: 'Dancing Script', cursive;
font-size:50px;
text-align: center;
margin-bottom:40px;
margin-top:50px;

}
.rainbow2 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(137, 34, 255)), color-stop(0.15, #f2f), color-stop(0.3, rgb(34, 185, 255)), color-stop(0.45, #2ff), color-stop(0.6, rgb(196, 255, 34)),color-stop(0.75, rgb(235, 161, 231)), color-stop(0.9, rgb(168, 17, 148)), color-stop(1, rgb(255, 34, 244)) );
  background-image: gradient( linear, left top, right top, color-stop(0, rgb(156, 34, 255)), color-stop(0.15, #f2f), color-stop(0.3, rgb(34, 148, 255)), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, rgb(133, 255, 34)), color-stop(1, rgb(255, 34, 226)) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width:100%;
  min-height:80%;
  font-family: 'Dancing Script', cursive;
  font-size:50px;
  text-align: center;
 
  
  }
  
/* ******************** 2éme section B ******************** */

#sectionB {
 min-height: 100vh;
  width:auto;   
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Dancing Script', cursive;
background-color: var(--couleur1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.videoZoneB{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.sectionB2{
  background-color: var(--couleur1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Dancing Script', cursive;

      
}
.sectionB2B{
  background-color: var(--couleur1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Dancing Script', cursive;

      
}
div{
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: var(--couleur4);

}
.prix2{
  color:var(--couleur1);
  font-size:1cm;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  align-items: center;
  animation: blink 2s infinite;
  margin-bottom: 1cm;
  }
  @keyframes blink { 
  50% { color: rgb(0, 170, 255);}
  20% { color: rgb(239, 243, 11);} 
  20% { color: rgb(172, 81, 192);}
  
  }

.prix{
color:var(--couleur1);
font-size:1.5cm;
font-family: 'Dancing Script', cursive;
text-align: center;
align-items: center;
margin-bottom: 1cm;
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(218, 34, 255)), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, rgb(201, 103, 11)), color-stop(0.9, #ff2), color-stop(1, #f22) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, rgb(221, 140, 18)), color-stop(0.9, #ff2), color-stop(1, rgb(174, 26, 211)) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

table{
    min-height: 450px;
    width: 400px;
    background-image: url(ASSET\img\fond.webp);
    opacity:80%;
    background-size: cover;
     margin-left: 10px;
     margin-right: 10px;
     font-family: 'Helvetica';
     border: 7px outset var(--couleur2);
     border-radius: 10%;
     margin-bottom: 1cm;
   
      }
  
 
 tr {
     border-color: transparent ;
    

 }
 th{

 padding: 10px;
 font-size:60px;
 font-family: 'Dancing Script', cursive;
 background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
width:100%;
min-height:80%;
text-align: center;
margin-bottom:20px;
margin-top:150px;
transform: rotate(-5deg);
  
   }
 
 td{
     padding: 10px;
     text-align: center;
     color:var(--couleur4);
      font:bold;
      font-size:24px;
      font-weight: bold;
      font-family: 'Dancing Script', cursive;
 
   }
  
    
   .texteB{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:1cm;
    text-align: center;
    padding-bottom: 3cm;
    padding-top: 1cm;
    color:var(--couleur4);
 
   
   }
      
   .texte5{  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );

    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width:100%;
    min-height:80%;
    font-family: 'Dancing Script', cursive;
    font-size:20px;
    text-align: center;
     margin-top:20px;
    transform: rotate(-5deg);
      

   }

/* ******************** 3éme section ******************** */


#sectionC {
  min-height: 20vh;
  width:auto;
background-color: var(--couleur1);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
 
  

}


/* ******************** 4éme section ******************** */
#sectionD1 {
  min-height: 20vh;
  width:auto;
  background-color: var(--couleur1);
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}
#sectionD {
  min-height: 20vh;
  width:auto;
  background-color: var(--couleur1);
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.texteD{
  color: rgb(0, 0, 0);
  font-size:0.7cm;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 1cm;

}

/* ******************** 5éme section E  ******************** */

#sectionE{
  min-height: 10vh;
  width:auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
     
}

.texteE{
  color: rgb(0, 0, 0);
  font-size:0.7cm;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 3cm;
  padding-top: 1cm;
}

  


/* ******************** 6éme section F  ******************** */

#sectionF{
  min-height: 10vh;
  width:auto;
  background-color: var(--couleur1);
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.titreF2 {
color:black;
font-size:1cm;
text-align: center;
font-family: 'Dancing Script', cursive;
transform: rotate(-5deg);
animation: colorblink 2s infinite;
}
@keyframes colorblink { 
0% { color: red;}
20% { color: rgb(27, 87, 15);} 
50% { color: rgb(238, 47, 255);} 

}


#contact h5, a, i {
text-align: center;
color: black;
font-size: 30px;
margin-bottom: 20px;
margin-left: 12px;
margin-right: 12px;
font-family: 'Dancing Script', cursive;
}
#contact p {
color: black;
text-align: center;
margin-bottom: 10px;
margin-left: 12px;
margin-right: 12px;
}
p{color: black;
text-align: center;
margin-bottom: 10px;
margin-left: 12px;
margin-right: 12px;}

.carte {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;

}
.contact{

  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border :rgb(48, 167, 175) outset 4px;
  border-radius: 10%;
}

/* ******************** 7éme section G  ******************** */


#sectionG{
  min-height: 10vh;
  width:auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
}


.reseaux{

  min-height: 10vh;
  width:100vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 1cm;

}
.copy{
color: grey;
font-size: 14px;
font-family: 'Dancing Script', cursive;
padding-top: 14px;
}

/* ******************** Mentions légales ******************** */
.mentions{
background-color: #419aee;
    opacity:80%;
    background-size: cover;
}
#mentions{
  background-color: #419aee;
    opacity:80%;
    background-size: cover;

}
p{
font-size:30px; 
color:rgb(95, 91, 91)

}
iframe{
  max-width: 80vw;
  min-height: 30vh;
}
  @media screen and (max-width: 600px) {
    .promo{min-height: 30vh;
      width:90vw;}
  }
/* ******************** sous menu des prestations ******************** */
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #120b3d;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(22, 105, 153);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(43, 120, 235, 0.89);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;}